
<div class="container mt-6">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="../../../assets/1f37f.png" alt="" width="100" height="100">
      <h2>Alta Películas</h2>
      <!-- <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
    </div>
  
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        
        <!-- <app-tabla-paises (paisSeleccionado)="obtenerNacionalidadActor($event)"></app-tabla-paises> -->
        <app-actor-listado (actorSeleccionado)="obtenerActorSeleccionado($event)"></app-actor-listado>

      </div>

      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Nueva película</h4>
        <form class="needs-validation" [formGroup]="peliculaGroup" (submit)="altaPelicula()" novalidate>
          <div class="row">

            <div class="col-md-12 mb-3">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="" value="" formControlName="nombre" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-md-12 mb-3">
              <label for="apellido">Tipo</label>
              <select class="custom-select d-block w-100" id="tipo" formControlName="tipo" required>
                <option value="">Elegir...</option>
                <option value="terror">Terror</option>
                <option value="cienciaFiccion">Ciencia ficción</option>
                <option value="romantica">Romántica</option>
                <option value="drama">Drama</option>
                <option value="drama">Infantil</option>
                <option value="otro">Otro</option>
              </select>
              <div class="invalid-feedback">
                Por favor seleccionar uno.
              </div>
            </div>
          </div>
  
          
          
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cantidadPublico">Cantidad de público</label>
              <input type="number" class="form-control" id="cantidadPublico" formControlName="cantidadPublico"  required>
              <div class="invalid-feedback">
                Por favor seleccionar uno.
              </div>
            </div>
            
            <div class="col-md-6 mb-3">
                <label for="fechaEstreno">Fecha de Estreno</label>
                <div class="input-group">
                  <input type="date" class="form-control" id="fechaEstreno" formControlName="fechaEstreno"  required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                  </div>
                </div>
              </div>
            
          </div>
  
          <div class="mb-3">
            <label for="actor">Actor</label>
            <input type="text" class="form-control" id="actor" placeholder="Ingrese un actor" formControlName="actor"  required readonly>
            <div class="invalid-feedback">
              Por favor ingrese un país.
            </div>
          </div>

          <div class="mb-3">
            <label for="fotoPelicula">Flyer</label>
            <input type="text" class="form-control" id="fotoPelicula" placeholder="Ingrese un link con la foto de la película (momentaneo)" formControlName="fotoPelicula"  required>
            <div class="invalid-feedback">
              Por favor ingrese un país.
            </div>
          </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit" >ALTA</button>
        </form>
      </div>
    </div>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2020 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>