<div class="col-md-4">
    <h2><strong>Detalle</strong></h2>
    <div class="card" *ngIf="inputDetallePelicula" style="width: 18rem;">
        <img class="card-img-top" [src]="inputDetallePelicula.fotoPelicula" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{inputDetallePelicula.nombre}}</h5>
          <p class="card-text">Genero: <span>{{inputDetallePelicula.tipo}}</span></p>
          <p class="card-text">Fecha de estreno: <span>{{inputDetallePelicula.fechaEstreno}}</span></p>
          <p class="card-text">Espectadores: <span>{{inputDetallePelicula.cantidadPublico}}</span></p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
</div>
